<div class='links'>
  <div id='small-logo'>
    <%= link_to image_tag('logo-small.gif', :size => "75x69"), :controller => :home %>
  </div>
  <div id='title'>
    <strong>Edit <%= @site.name %></strong>
    <div id='subtitle'>
      <%= @site.url %>
    </div>
  </div>
  <br clear='all' />
</div>

<div id='content'>
  <% form_for :site, @site, :url => { :controller => :sites, :action => :update, :id => @site.id } do |f| %>
    Site name:<br />
    <%= f.text_field :name %>
    <br /><br />
    Nickname:<br />
    <%= f.text_field :nickname %>
    <br /><br />
    URL:<br />
    <%= f.text_field :url %>
    <br /><br />
    <%= f.submit "Create" %> or <%= link_to 'cancel', :controller => :sites, :action => :show, :id => @site.id %>
  <% end %>
</div>
