<div class='links'>
  <div id='small-logo'>
    <%= link_to image_tag('logo-small.gif', :size => "75x69"), :controller => :home %>
  </div>
  <div id='title'>
    <strong><%= @site.name %></strong>
    <div id='subtitle'>
      <%= @site.url %>
    </div>
  </div>
  <br clear='all' />
</div>

<%= render :partial => "shared/flashes" %>

<div class='simple links'>
  <strong><%= link_to 'view site', "/#{@site.nickname}/pages" %></strong> &middot; <%= link_to 'edit', :controller => :sites, :action => :edit, :id => @site.id %> &middot; <%= link_to 'remove', { :controller => :sites, :action => :delete, :id => @site.id }, :confirm => "This will remove this site and all related posts?\n\nAre your sure?" %>
</div>

<div id='content'>
  <p>
    Bucket name: <%= @site.bucket_name %>
  </p>
  <p>
    Posts: <%= @site.all_assets.size %> &middot; <%= link_to 'upload', :controller => :sites, :action => :upload, :id => @site.id %>
  </p>
  <p>
    <ul>
      <% for post in @site.all_assets %>
      <li><%= link_to post.title, "/#{@site.nickname}/pages/show/#{post.title}" %></li>
      <% end %>
    </ul>
  </p>
</div>
